@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Fira Sans Light"), local("FiraSans-Light"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKreRhf_.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jO.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Fira Sans Medium"), local("FiraSans-Medium"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKveRhf_.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzeRhf_.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3eRhf_.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnMK7eRhf_.ttf)
      format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Fira Sans Black"), local("FiraSans-Black"),
    url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnFK_eRhf_.ttf)
      format("truetype");
}


html {
  height: 100%;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: #758397;
  padding-bottom: 265px;
  position: relative;
  min-height: 100%;
  background-color: #f5f6fa;
  margin-top: 54px;
}
@media all and (max-width: 786px) {
  body {
    padding-bottom: 383px;
  }
}
@media all and (max-width: 576px) {
  body {
    padding-bottom: 476px;
  }
}
body.index-page {
  background: #fff;
}
a {
  /* transition: all 0.2s ease; */
  color: #0c60cd;
}
a:hover {
  color: #778fc8;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "jost", sans-serif;
}

#add_more {
  display: none;
}

.noborderbtn {
  border: none !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.col-md-12 .table-responsive table thead {
  background: linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  color: #fff !important;
  height: 50px;
}

.col-md-12 .table-responsive table thead tr th {
  line-height: 2;
}

.table td,
.table th {
  border: none !important;
}

.col-md-12 .table-responsive table {
    width:auto;
  background-color: white;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.col-md-12 .table-responsive table caption {
  margin: 0.5em 0 0.75em;
}

.col-md-12 .table-responsive table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

.col-md-12 .table-responsive table th,
.col-md-12 .table-responsive table td {
  padding: 0.625em;
  text-align: center;
}

.col-md-12 .table-responsive table th {
  text-transform: uppercase;
  font-size: 0.8571428571428571rem;
  font-weight: 600;
  font-family: "jost", sans-serif;
}

.navbar-brand img {
  width: 214px;
}

footer div div div .logo {
  margin-bottom: 24px;
}

/* @media (max-width: 768px) {
  .navbar-brand img {
    width: 174px;
  }
} */

.hide,
.hide2 {
  display: none;
}
.btn {
  border-radius: 1px;
  font-family: "jost", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 11px 25px;
  font-size: 1rem;
  border: 0;
  transition: border 0.2s ease, color 0.2s ease, background 0.2s ease,
    box-shadow 0.3s ease;
}
.btn.btn-sm {
  padding: 8px 15px;
  font-size: 0.7142857142857143rem;
}
.btn:hover,
.btn:focus,
.btn.active,
.btn:active,
.btn:visited {
  box-shadow: 0 0.3125rem 0.25rem -0.1875rem rgba(35, 69, 152, 0.15);
}
.btn.btn-dark {
  background: #0c60cd;
}
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark.active,
.btn.btn-dark:active,
.btn.btn-dark:visited,
.btn.btn-dark:not(:disabled):active {
  color: #aebcde;
}
.btn.btn-white {
  background: #fff;
  color: #0c60cd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active,
.btn.btn-white:visited,
.btn.btn-white:not(:disabled):active {
  background: #0c60cd;
  color: #fff;
}
.btn.btn-secondary {
  background: #0c60cd;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary.active,
.btn.btn-secondary:active,
.btn.btn-secondary:visited,
.btn.btn-secondary:not(:disabled):active {
  background: #0c60cd;
}

.btn {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  border: 1px solid white;
}

.btn.btn-primary {
  background-color: white;
  color: #758397;
  border: 1px solid #758397;
  margin: 0 3px 0 3px !important;
  border-radius: 1px;
  font-weight: 700;
}

/* media for screen less than 703 */
@media screen and (max-width: 703px) {
  .btn.btn-primary,
  .form-control.form-sm,
  .btn.btn-danger.btn-sm {
    margin: 10px 3px 0 0px !important;
  }
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:not(:disabled):active {
  color: white;
  background: linear-gradient(270deg, #00f1c2 0%, #17b7e3 50%, #2574ea 100%);
  border: 1px solid #1ca8e4;
}
.btn.btn-default {
  background: #aebcde;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:visited,
.btn.btn-default:not(:disabled):active {
  background: #849dd4;
}
.btn.btn-warning {
  background: #ffbe3d;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.active,
.btn.btn-warning:active,
.btn.btn-warning:visited,
.btn.btn-warning:not(:disabled):active {
  background: #ffad0a;
}
.btn.btn-success {
  background: #00cc79;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success:visited,
.btn.btn-success:not(:disabled):active {
  background: #00995b;
}
.btn.btn-danger {
  background: #f14d58;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.active,
.btn.btn-danger:active,
.btn.btn-danger:visited,
.btn.btn-danger:not(:disabled):active {
  background: #ed1e2c;
}
.form-control {
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #aebcde;
  padding: 10px 15px;
  height: calc(34px + 10px + 2px);
  transition: border 0.2s ease;
}
.form-control.form-sm {
  font-size: 0.8571428571428571rem;
  height: calc(21px + 10px + 2px);
  padding: 2px 10px;
}
.form-control:focus,
.form-control:active {
  box-shadow: none;
  outline: 0;
  border-color: #0c60cd;
}
.form-control.form-control-plaintext {
  background: transparent;
}
.form-group label {
  font-size: 0.8571428571428571rem;
}
.custom-checkbox .custom-control-label:before {
  border-radius: 0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  background: #0c60cd;
  border-color: #0c60cd;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  background: #0c60cd;
  border-color: #0c60cd;
}
.form-control-plaintext {
  outline: none;
}

/* Custom css */

footer .container .row .col-md-4,
footer .container .row .col-sm-4 {
  margin-bottom: 30px !important;
}

.shadow-1 {
  -webkit-box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.6);
  box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.6);
}
.shadow-2 {
  -webkit-box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 21px 51px -9px rgba(0, 0, 0, 0.3);
}
.btn {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-grad {
  background: #00f1c2;
  background: -moz-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background-size: 101% 101%;
  moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
a.btn-grad {
  color: #fff;
  text-decoration: none;
}
.btn-text {
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-long {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 16px;
}
.btn:hover {
  color: #fff !important;
  text-decoration: none;
}
body {
  font-family: Montserrat, sans-serif !important;
}

.pagecard {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0.5625rem 2.8125rem 0 rgba(35, 69, 152, 0.15);
  margin: 90px auto;
  margin-bottom: 30px;
}

.paging {
  background: #f5f6fa;
  box-shadow: none;
  border-radius: 4px;
  text-align: center;
}

.paging a,
.paging span {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  padding: 5px 10px;
  background: rgba(53, 117, 211, 0.1);
  border-radius: 4px;
  color: #99a3a9;
  position: relative;
  border: none !important;
}

.paging a:hover,
.paging span:hover {
  color: #fff !important;
}

.paging a.prev {
  width: 60px;
}

.paging a.next {
  width: 60px;
}

.paging span {
  display: inline-block;
  margin: 0 !important;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  background: #3575d3;
  color: #fff;
}

.profile-page .row .col-md-9 {
  background-color: white;
  border-radius: 3px;
  padding: 50px;
}
.profile-page .row .col-md-3 {
  margin-bottom: 30px;
}

sup {
  position: inherit !important;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.features-description {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.features-description img {
  width: 120px;
  height: auto;
  margin: 20px 0 20px 0;
}

.features-description h4 {
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  margin-bottom: 20px;
}

.premium-page .features .features-description.premium {
  background-color: white !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.premium-page .features .features-description.premium ul li {
  background: -webkit-linear-gradient(45deg, #00ff97, #0c60cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.strikethrough {
  position: relative;
  color: red;
}

.strikethrough:before {
  border-bottom: 1px solid red;
  position: absolute;
  top: 10%;
  content: "";
  width: 100%;
  height: 50%;
}

.col-md-9 div .table.table-files thead tr th a i.fa,
.col-md-9 div .table.table-files thead tr th i.fa {
  background: rgb(0, 241, 194);
  background: -moz-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f1c2",endColorstr="#2574ea",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.account-stats i.fa-solid, .nav-link.active i.fa, .browse i.fa, .table-files .fa-copy {
  background: rgb(0, 241, 194);
  background: -moz-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f1c2",endColorstr="#2574ea",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav.flex-column.nav-pills .nav-link i.fas {
  color: #b4bfd1;
}

.nav.flex-column.nav-pills .nav-link.active i.fas {
  background: rgb(0, 241, 194);
  background: -moz-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f1c2",endColorstr="#2574ea",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 2rem rgba(174, 174, 209, 0.18) !important;
  box-shadow: 0 0.75rem 2rem rgba(174, 174, 209, 0.18) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar .navbar-collapse.collapsing {
  height: 100%;
  transition: transform 0.3s ease-in, height 0s ease;
}
@media all and (max-width: 992px) {
  .navbar .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #fff;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0.5625rem 2.8125rem 0 rgba(35, 69, 152, 0.15);
    max-width: 250px;
    z-index: 1000;
    padding: 56px 20px 20px;
    display: block !important;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navbar .navbar-collapse.show {
    transform: translateX(0);
  }
}

.nav {
  flex-wrap: nowrap;
}

.navbar-toggler {
  color: #237ce8;
  outline: none !important;
}

.navbar .navbar-collapse .navbar-toggler {
  display: none;
  font-size: 1.4285714285714286rem;
  color: #237ce8;
}
@media all and (max-width: 992px) {
  .navbar .navbar-collapse .navbar-toggler {
    display: block;
    top: 20px;
    right: 20px;
    color: #237ce8;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #758397;
  font-size: 0.8571428571428571rem;
  font-weight: 600;
  font-family: "jost", sans-serif;
}
@media all and (max-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    color: #758397;
  }
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #253775;
}
@media all and (max-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #253775;
  }
}
.navbar .navbar-nav .nav-item.login .nav-link,
.navbar .navbar-nav .nav-item.register .nav-link {
  padding-right: 15px;
  padding-left: 40px;
  /* transition: border 0.2s ease, color 0.2s ease, box-shadow 0.3s ease; */
}
.navbar .navbar-nav .nav-item.login .nav-link:hover,
.navbar .navbar-nav .nav-item.register .nav-link:hover,
.navbar .navbar-nav .nav-item.login .nav-link:focus,
.navbar .navbar-nav .nav-item.register .nav-link:focus {
  background: linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  box-shadow: 0 0.3125rem 0.25rem -0.1875rem rgba(35, 69, 152, 0.15);
  color: #fff;
}
.navbar .navbar-nav .nav-item.login .nav-link i,
.navbar .navbar-nav .nav-item.register .nav-link i {
  font-size: 1rem;
  left: 15px;
  top: 9px;
}
.navbar .navbar-nav .nav-item.login.login .nav-link,
.navbar .navbar-nav .nav-item.register.login .nav-link {
  background: linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  color: #fff;
}
@media all and (max-width: 992px) {
  .navbar .navbar-nav .nav-item.login.login .nav-link,
  .navbar .navbar-nav .nav-item.register.login .nav-link {
    background: linear-gradient(
      270deg,
      rgba(0, 241, 194, 1) 0%,
      rgba(23, 181, 226, 1) 50%,
      rgba(37, 116, 234, 1) 100%
    );
    color: #fff;
  }
}
.navbar .navbar-nav .nav-item.login.login .nav-link:hover,
.navbar .navbar-nav .nav-item.register.login .nav-link:hover,
.navbar .navbar-nav .nav-item.login.login .nav-link:focus,
.navbar .navbar-nav .nav-item.register.login .nav-link:focus {
  background: linear-gradient(
    270deg,
    rgba(0, 241, 194, 1) 0%,
    rgba(23, 181, 226, 1) 50%,
    rgba(37, 116, 234, 1) 100%
  );
  color: #fff;
}
.index-header {
  padding: 150px 0 250px;
  background: #09206e;
  background: -moz-linear-gradient(0deg, #0a8cd2 0, #1f4fd0 50%, #09206b 100%);
  background: -webkit-linear-gradient(
    0deg,
    #0a8cd2 0,
    #1f4fd0 50%,
    #09206b 100%
  );
  background: linear-gradient(0deg, #0a8cd2 0, #1f4fd0 50%, #09206b 100%);
}
.index-header .title {
  font-weight: 700;
  color: #fff;
}
.index-header .subtitle {
  color: #aebcde;
}
.index-header .or-action {
  color: #aebcde;
  font-size: 1.1428571428571428rem;
  font-weight: 600;
}
.index-header label {
  cursor: pointer;
}
.upload-container {
  z-index: 100;
  margin-top: -150px;
}
.upload-container .section .tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}
.upload-container .section .tabs li {
  display: inline-block;
  border-radius: 1px;
  font-family: "jost", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 11px 25px;
  background: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}
@media all and (max-width: 576px) {
  .upload-container .section .tabs li {
    display: block;
    margin: 0 0 10px;
  }
}
.upload-container .section .tabs li.current {
  color: #0c60cd;
}
.upload-container .section .box {
  max-width: 100%;
  display: none;
  box-shadow: 0 0.5625rem 2.8125rem 0 rgba(35, 69, 152, 0.15);
  background: #fff;
  border-radius: 2px;
  min-height: 280px;
}
.upload-container .section .box.visible {
  display: block;
}
.upload-container .upload-form {
  border-radius: 2px;
}
.upload-container .upload-form .browse i {
  --fa-primary-color: #0c60cd;
  --fa-secondary-color: #0c60cd;
  font-size: 7.142857142857143rem;
}
.upload-container .upload-form .browse p {
  color: #778fc8;
  font-size: 1.7142857142857142rem;
}
.upload-container .upload-form .browse p label {
  font-weight: 700;
  color: #0c60cd;
  cursor: pointer;
}
.upload-container .upload-form .browse p label:hover,
.upload-container .upload-form .browse p label:focus {
  color: #0c60cd;
}
.upload-container .upload-form .upload-file #files_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.upload-container .upload-form .upload-file #files_list li {
  margin: 0 0 20px;
  padding: 10px;
  border-bottom: 2px solid #aebcde;
}
.upload-container .upload-form .upload-file #files_list li .icon {
  font-size: 4.285714285714286rem;
  position: relative;
  color: #0c60cd;
  width: 52px;
}
.upload-container .upload-form .upload-file #files_list li .icon span {
  position: absolute;
  font-size: 0.9285714285714286rem;
  font-weight: 600;
  color: #fff;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
.upload-container .upload-form .upload-file #files_list li .information {
  width: calc(100% - 187px);
  padding: 0 10px;
}
.upload-container .upload-form .upload-file #files_list li .information h4 {
  color: #0c60cd;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.upload-container .upload-form .upload-file #files_list li .information span {
  font-size: 0.9285714285714286rem;
}
.upload-container .upload-form .upload-file #files_list li .custom-control {
  width: 80px;
  font-size: 1rem;
}
.upload-container .upload-form .upload-file #files_list li .delete {
  color: #f14d58;
  font-size: 1.4285714285714286rem;
  width: 15px;
}
.upload-container .upload-form .upload-file .upload-controls label {
  cursor: pointer;
}
.upload-container .upload-form .upload-file .progress_div {
  width: 100%;
  text-align: center;
}
.upload-container .upload-form .upload-file .progress_div .progressbar-outer {
  border-radius: 0;
  height: 20px;
  background: #aebcde;
}
.upload-container
  .upload-form
  .upload-file
  .progress_div
  .progressbar-outer
  .progressbar-inner {
  background: #0c60cd;
}

h2.title {
  background: -webkit-linear-gradient(45deg, #01dc84, #0a56ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2.142857142857143rem;
  margin: auto;
  display: inline-block;
  margin-bottom: 20px !important;
}

.box {
  max-width: 226px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
}
.box svg {
  height: 130px;
  width: auto;
}
.dash {
  width: 80px;
  height: 2px;
  background: #849dd4;
}
@media all and (max-width: 786px) {
  .features {
    text-align: center;
  }
  .features .box {
    margin: 0 auto !important;
  }
  .features .dash {
    margin: 0 auto 3rem !important;
  }
}
.features h4 {
  color: #8b97aa;
  font-size: 1.7857142857142858rem;
}
@media all and (max-width: 786px) {
  .features h4 {
    text-align: center;
  }
}
.features p {
  color: #778fc8;
  font-size: 1.2857142857142858rem;
}
@media all and (max-width: 786px) {
  .features p {
    text-align: center;
  }
}
.site-stats i {
  font-size: 3.5714285714285716rem;
  color: #849dd4;
}
.site-stats p {
  font-size: 1.2857142857142858rem;
}
.site-stats p strong {
  color: #0c60cd;
}
.get-started {
  background: #0c60cd;
}
@media all and (max-width: 786px) {
  .get-started {
    text-align: center;
  }
}

.col-sm-4 ul li a {
  color: #859ac0 !important;
}

.footer {
  background-color: #071337 !important;
  color: white !important;
  padding-top: 68px;
  padding-bottom: 98px;
  font-size: 14px;
  left: 0;
  right: 0;
}
@media all and (max-width: 786px) {
  .footer {
    text-align: center;
  }
  .footer .row {
    justify-content: center;
  }
}
.footer .logo img {
  height: 30px;
  width: auto;
}
.footer .copyrights {
  font-size: 0.8571428571428571rem;
  margin: 10px 0;
}
.footer h4 {
  font-size: 1.2857142857142858rem;
  font-family: "jost", sans-serif;
  font-weight: 600;
  margin: 0 0 15px;
}
.footer .menu {
  list-style: none;
}
.footer .menu li a {
  display: block;
  padding: 3px 0;
  font-size: 0.8571428571428571rem;
}
.page-content ul {
  list-style: none;
}
.page-content ul li {
  font-size: 0.8571428571428571rem;
}
.page-content ul li b {
  text-transform: uppercase;
  color: #0c60cd;
}
.premium-page .features .features-description {
  border: 2px solid #ffffff;
  background: #fff;
}
.premium-page .features .features-description h4 {
  font-family: "jost", sans-serif;
  font-size: 1.2857142857142858rem;
  font-weight: 600;
}
.premium-page .features .features-description ul {
  list-style: none;
}
.premium-page .features .features-description ul li {
  font-size: 0.8571428571428571rem;
  display: block;
  padding: 5px;
  line-height: 22px;
}
.premium-page .features .features-description ul li i {
  font-size: 1.1428571428571428rem;
}
.premium-page .features .features-description ul li i.fa-check {
  --fa-primary-color: #00995b;
  --fa-secondary-color: #00995b;
}
.premium-page .features .features-description ul li i.fa-times {
  --fa-primary-color: #f14d58;
  --fa-secondary-color: #f14d58;
}
.premium-page .features .features-description.premium {
  background: #0c60cd;
}

.premium-page .features .features-description.premium h4 {
  /* gradient text */
  background: -webkit-linear-gradient(45deg, #00ff97, #0c60cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.premium-page .features .features-description.premium ul li {
  color: #aebcde;
}
.premium-page .features .features-description.premium ul li i.fa-check {
  --fa-primary-color: #00ff97;
  --fa-secondary-color: #00ff97;
}
.premium-page .features .features-description.premium ul li i.fa-times {
  --fa-primary-color: #ffffff;
  --fa-secondary-color: #ffffff;
}
.premium-page .plans-header .plan-header {
  background: -webkit-linear-gradient(45deg, #00ff97, #0c60cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.7142857142857142rem;
}
.premium-page .plans-header .plan-header:after {
  content: "";
  height: 4px;
  width: 100%;
  background: rgba(35, 150, 182, 0.25);
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.premium-page .plans-header .toggle_plans {
  padding: 10px 20px;
  border: 2px solid #0c60cd;
  color: #0c60cd;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8571428571428571rem;
  transition: background 0.2s ease;
}
.premium-page .plans-header .toggle_plans:first-of-type {
  margin-right: -2px;
}
.premium-page .plans-header .toggle_plans:hover {
  color: #778fc8;
}
.premium-page .plans-header .toggle_plans.active {
  background: #0c60cd;
  color: #ffffff;
}
.premium-page .plans-list {
  *zoom: 1;
  list-style: none;
}
.premium-page .plans-list:before,
.premium-page .plans-list:after {
  content: "";
  display: table;
}
.premium-page .plans-list:after {
  clear: both;
}
.premium-page .plans-list li {
  background: #fff;
}
@media all and (min-width: 1200px),
  all and (min-width: 993px) and (max-width: 1199px) {
  .premium-page .plans-list li {
    float: left;
    margin: 0 20px 20px 0;
    width: calc((100% - (20px * (5 - 1))) / 5);
  }
  .premium-page .plans-list li:nth-of-type(5n) {
    margin-right: 0;
  }
  @supports (-ms-ime-align: auto) {
    .premium-page .plans-list li:nth-of-type(5n) {
      width: calc((100% - (20px * (5 - 1))) / 5 - 0.5px);
      float: right;
    }
  }
  .premium-page .plans-list li:nth-of-type(5n + 1) {
    clear: both;
  }
}
@media all and (min-width: 1200px) and (-ms-high-contrast: active),
  all and (min-width: 993px) and (max-width: 1199px) and (-ms-high-contrast: active),
  all and (min-width: 1200px) and (-ms-high-contrast: none),
  all and (min-width: 993px) and (max-width: 1199px) and (-ms-high-contrast: none) {
  .premium-page .plans-list li:nth-of-type(5n) {
    width: calc((100% - (20px * (5 - 1))) / 5 - 0.5px);
    float: right;
  }
}
@media all and (min-width: 787px) and (max-width: 991px) {
  .premium-page .plans-list li {
    float: left;
    margin: 0 20px 20px 0;
    width: calc((100% - (20px * (4 - 1))) / 4);
  }
  .premium-page .plans-list li:nth-of-type(4n) {
    margin-right: 0;
  }
  @supports (-ms-ime-align: auto) {
    .premium-page .plans-list li:nth-of-type(4n) {
      width: calc((100% - (20px * (4 - 1))) / 4 - 0.5px);
      float: right;
    }
  }
  .premium-page .plans-list li:nth-of-type(4n + 1) {
    clear: both;
  }
}
@media all and (min-width: 787px) and (max-width: 991px) and (-ms-high-contrast: active),
  all and (min-width: 787px) and (max-width: 991px) and (-ms-high-contrast: none) {
  .premium-page .plans-list li:nth-of-type(4n) {
    width: calc((100% - (20px * (4 - 1))) / 4 - 0.5px);
    float: right;
  }
}
@media all and (min-width: 577px) and (max-width: 785px) {
  .premium-page .plans-list li {
    float: left;
    margin: 0 20px 20px 0;
    width: calc((100% - (20px * (2 - 1))) / 2);
  }
  .premium-page .plans-list li:nth-of-type(2n) {
    margin-right: 0;
  }
  @supports (-ms-ime-align: auto) {
    .premium-page .plans-list li:nth-of-type(2n) {
      width: calc((100% - (20px * (2 - 1))) / 2 - 0.5px);
      float: right;
    }
  }
  .premium-page .plans-list li:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media all and (min-width: 577px) and (max-width: 785px) and (-ms-high-contrast: active),
  all and (min-width: 577px) and (max-width: 785px) and (-ms-high-contrast: none) {
  .premium-page .plans-list li:nth-of-type(2n) {
    width: calc((100% - (20px * (2 - 1))) / 2 - 0.5px);
    float: right;
  }
}
@media all and (max-width: 576px) {
  .premium-page .plans-list li {
    width: 100%;
    margin: 0 0 20px;
  }
}
.premium-page .plans-list li .header {
  border-bottom: 2px solid rgba(174, 188, 222, 0.2);
}
.premium-page .plans-list li .header .price {
  font-size: 2.142857142857143rem;
  background: -webkit-linear-gradient(45deg, #02e9f1, #013bb7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.premium-page .plans-list li .header .price sup {
  color: #849dd4;
  font-weight: 400;
  margin-right: 4px;
  top: -5px;
  font-size: 1.1428571428571428rem;
}
.premium-page .plans-list li .header .days {
  text-transform: uppercase;
  font-weight: 600;
  color: #849dd4;
  font-size: 0.8571428571428571rem;
}
.premium-page .plans-list li .payments .btn {
  margin: 0 0 10px;
  display: block;
  text-align: center;
}
.premium-page .plans-list li .payments .btn:last-of-type {
  margin: 0;
}
.widget {
  border: 1px solid rgba(174, 188, 222, 0.2);
  background: #fff;
  padding-right: 60px;
  width: 100%;
  box-shadow: 0 0.75rem 2rem rgba(174, 174, 209, 0.18) !important;
}
.widget span {
  font-weight: 700;
  font-family: "jost", sans-serif;
  font-size: 0.8571428571428571rem;
  text-transform: uppercase;
  display: block;
  color: #253775;
}
.widget .price {
  font-size: 1.7857142857142858rem;
  color: #253775;
  font-weight: 700;
}
.widget .price sup {
  color: #758397;
  font-weight: 400;
  margin-right: 4px;
  top: -5px;
  font-size: 1.1428571428571428rem;
}
.widget a,
.widget p {
  font-size: 0.8571428571428571rem;
  color: #758397;
  margin-bottom: 0 !important;
}
.widget a i {
  font-size: 0.7142857142857143rem;
  margin-left: 5px;
}
.widget .icon {
  font-size: 2.857142857142857rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
.widget .icon i {
  --fa-primary-color: #0c60cd;
  --fa-secondary-color: #0c60cd;
}

.nav.flex-column.nav-pills {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

.nav.nav-pills .nav-link {
  border-radius: 1px;
  background: #fff;
  margin: 0 0 10px;
  padding: 12px 25px;
  border: 1px solid rgba(174, 188, 222, 0.1);
  color: #8b97aa;
  font-size: 0.8571428571428571rem;
  font-weight: 700;
  font-family: "jost", sans-serif;
  text-transform: uppercase;
}

.nav.flex-column.nav-pills .nav-link {
  border: none;
  display: flex;
  align-items: center;
}

.nav.nav-pills .nav-link i {
  font-size: 1.4285714285714286rem;
  position: relative;
  width: 30px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav.nav-pills .nav-link i::before {
  display: inline;
  align-self: center;
}

.nav.nav-pills .nav-link:hover {
  color: #253775;
  background-color: #f6f6fb;
}
.nav.nav-pills .nav-link.active {
  color: #253775;
  background-color: #f6f6fb;
  border-radius: 2px;
}
.form-group p {
  margin: 11px 0;
}
.form-group .btn {
  padding: 11px 30px;
}
.profile-page .account-stats {
  *zoom: 1;
}
.profile-page .account-stats:before,
.profile-page .account-stats:after {
  content: "";
  display: table;
}
.profile-page .account-stats:after {
  clear: both;
}
@media all and (min-width: 993px) and (max-width: 1199px),
  all and (min-width: 1200px) {
  .profile-page .account-stats .widget {
    float: left;
    margin: 0 10px 10px 0;
    width: calc((100% - (10px * (4 - 1))) / 4);
  }
  .profile-page .account-stats .widget:nth-of-type(4n) {
    margin-right: 0;
  }
  @supports (-ms-ime-align: auto) {
    .profile-page .account-stats .widget:nth-of-type(4n) {
      width: calc((100% - (10px * (4 - 1))) / 4 - 0.5px);
      float: right;
    }
  }
  .profile-page .account-stats .widget:nth-of-type(4n + 1) {
    clear: both;
  }
}
@media all and (min-width: 993px) and (max-width: 1199px) and (-ms-high-contrast: active),
  all and (min-width: 1200px) and (-ms-high-contrast: active),
  all and (min-width: 993px) and (max-width: 1199px) and (-ms-high-contrast: none),
  all and (min-width: 1200px) and (-ms-high-contrast: none) {
  .profile-page .account-stats .widget:nth-of-type(4n) {
    width: calc((100% - (10px * (4 - 1))) / 4 - 0.5px);
    float: right;
  }
}
@media all and (min-width: 787px) and (max-width: 991px) {
  .profile-page .account-stats .widget {
    float: left;
    margin: 0 10px 10px 0;
    width: calc((100% - (10px * (2 - 1))) / 2);
  }
  .profile-page .account-stats .widget:nth-of-type(2n) {
    margin-right: 0;
  }
  @supports (-ms-ime-align: auto) {
    .profile-page .account-stats .widget:nth-of-type(2n) {
      width: calc((100% - (10px * (2 - 1))) / 2 - 0.5px);
      float: right;
    }
  }
  .profile-page .account-stats .widget:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media all and (min-width: 787px) and (max-width: 991px) and (-ms-high-contrast: active),
  all and (min-width: 787px) and (max-width: 991px) and (-ms-high-contrast: none) {
  .profile-page .account-stats .widget:nth-of-type(2n) {
    width: calc((100% - (10px * (2 - 1))) / 2 - 0.5px);
    float: right;
  }
}
@media all and (max-width: 786px) {
  .profile-page .account-stats .widget {
    margin-bottom: 10px;
  }
}
.files-page .folders .folder-list {
  list-style: none;
}
.files-page .folders .folder-list li {
  border: 1px solid rgba(174, 188, 222, 0.2);
  background: #fff;
  border-radius: 2px;
  margin: 0 0 10px;
}
.files-page .folders .folder-list li.no-folder {
  padding: 15px;
}
.files-page .folders .folder-list li .link {
  padding: 5px 10px;
  width: calc(100% - 88px);
}
.files-page .folders .folder-list li .link i {
  font-size: 2.142857142857143rem;
  margin-right: 10px;
  color: #ffbe3d;
}
.files-page .folders .folder-list li .link .name {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.8571428571428571rem;
  font-weight: 700;
  font-family: "jost", sans-serif;
}
.files-page .folders .folder-list li .link .name span {
  font-weight: 400;
  color: #778fc8;
  text-transform: uppercase;
  font-size: 0.7142857142857143rem;
}
.files-page .folders .folder-list li .edit,
.files-page .folders .folder-list li .delete {
  font-size: 1.4285714285714286rem;
  padding: 5px 10px;
  width: 44px;
  text-align: center;
  color: #778fc8;
}
.files-page .folders .folder-list li .edit:hover,
.files-page .folders .folder-list li .delete:hover {
  color: #0c60cd;
}
.files-page .folders .folder-list li .delete {
  font-size: 1.7142857142857142rem;
  color: #f14d58;
}
.files-page .folders .folder-list li .delete:hover {
  color: #c8101c;
}
.files-page .files .table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
}
.files-page .files .table th,
.files-page .files .table td {
  border: 0;
  vertical-align: middle;
  background-color: white;
  outline: none;
}
.files-page .files .table thead th a {
  text-transform: uppercase;
  color: #758397 !important;
  font-size: 0.8571428571428571rem;
  font-weight: 700;
  font-family: "jost", sans-serif;
}
.files-page .files .table thead th i {
  --fa-secondary-color: #0c60cd;
}
.files-page .files .table thead th img {
  display: none;
}
.files-page .files .table tr.filerow {
  background: #fff;
}
.files-page .files .table tr.filerow i {
  font-size: 1.2857142857142858rem;
}
.files-page .files .table tr.filerow i.fa-times {
  font-size: 1.5714285714285714rem;
}
.files-page .files .table tr.filerow .edit a {
  color: #778fc8;
}
.files-page .files .table tr.filerow .edit a:hover {
  color: #0c60cd;
}
.files-page .files .table tr.filerow .delete a {
  color: #f14d58;
}
.files-page .files .table tr.filerow .delete a:hover {
  color: #c8101c;
}
/**
 Download pages
 */
.download-page .countdown {
  text-align: center;
}
.download-page .countdown .seconds {
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
}
.download-page .g-recaptcha > div {
  margin: 0 auto;
}
.download-page .ads {
  background: #c4c4c4;
  padding: 50px;
  text-align: center;
  color: #0c60cd;
}
.download-page .file-info {
  background: #fff;
  padding: 10px;
}
.download-page .file-info .icon {
  width: 50px;
  margin-right: 10px;
}
.download-page .file-info .icon i {
  font-size: 3.5714285714285716rem;
}
.download-page .file-info .name {
  width: calc(100% - 220px);
  padding-right: 10px;
}

.filename{
  word-break: break-all;
  min-width: 180px;
}

@media all and (max-width: 992px) {
  .download-page .file-info .name {
    width: calc(100% - 60px);
  }
}
.download-page .file-info .name h4 {
  word-break: break-all;
  color: #0c60cd;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.download-page .file-info .name span {
  text-transform: uppercase;
  color: #aebcde;
  font-weight: bold;
  font-size: 0.7857142857142857rem;
  margin-right: 10px;
}
.download-page .file-info .name span:last-child {
  margin-right: 0;
}
@media all and (max-width: 992px) {
  .download-page .file-info .report {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
  }
}
.download-page .file-info .report .btn {
  width: 160px;
  text-align: center;
}
.download-page .aboutFile h4 {
  color: #0c60cd;
  font-weight: 600;
}
.download-page .aboutFile p {
  color: #1a1a1a;
}
.upload-list li {
  background: #fff;
  padding: 10px;
  margin: 0 0 20px;
}
.upload-list li .icon {
  font-size: 2.857142857142857rem;
  color: #00cc79;
}
.upload-list li .info {
  width: calc(100% - 180px);
  padding: 0 10px;
}
.upload-list li .info h4 {
  color: #0c60cd;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.upload-list li .actions .btn.btn-primary {
  margin: 0 !important;
}

.upload-list li .info span {
  font-size: 0.9285714285714286rem;
}
.upload-list li .btn {
  /* padding: 10px 10px; */
  line-height: 1;
}
.upload-list li .btn i {
  font-size: 1.2857142857142858rem;
}
.upload-list li .collapse,
.upload-list li .collapsing {
  margin-top: 15px;
}
.upload-list li .collapse .card,
.upload-list li .collapsing .card {
  border-radius: 0;
  border: 0;
  border-top: 2px solid #aebcde;
  padding: 10px 0 0;
}
#more_links table tr td,
#more_links table tr th {
  border: 0;
  align-items: center;
  vertical-align: middle;
}
.news-list {
  list-style: none;
}
.news-list li {
  padding: 15px;
  border: 1px solid #f4f4f4;
  margin: 0 0 20px;
  background: #f9f9f9;
}
.news-list li h4 {
  font-weight: 600;
  color: #0c60cd;
  font-size: 1.4285714285714286rem;
}
.news-list li span {
  color: #778fc8;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.9285714285714286rem;
}
.report-form {
  max-width: 700px;
}
@media all and (max-width: 786px) {
  .report-form .btn {
    margin-top: 20px;
  }
}
@media all and (max-width: 576px) {
  .report-form .form-group {
    width: 100%;
  }
}
body.admin-panel #container {
  max-width: 1200px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
body.admin-panel #container .tabs {
  padding: 0;
  margin: 0;
  list-style: none;
}
body.admin-panel #container .tabs li {
  display: inline-block;
  border-radius: 1px;
  font-family: "jost", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
  /* transition: color 0.3s ease; */
  border: 1px solid #aebcde;
  border-bottom: 0;
  font-size: 0.7142857142857143rem;
}
body.admin-panel #container .tabs li.current {
  color: #0c60cd;
}
body.admin-panel #container .box {
  max-width: 100%;
  display: none;
  background: #fff;
  border-radius: 2px;
  min-height: 280px;
  border: 1px solid #aebcde;
  padding: 10px;
}
body.admin-panel #container .box.visible {
  display: block;
}
body.admin-panel .tbl1 {
  margin: 0 auto;
}
body.admin-panel .tbl1 th,
body.admin-panel .tbl1 td {
  border: 1px solid #aebcde;
  font-size: 0.8571428571428571rem;
  padding: 5px;
}
body.admin-panel .tbl1 th b,
body.admin-panel .tbl1 td b {
  font-weight: 500;
}
body.admin-panel input[type="submit"],
body.admin-panel button,
body.admin-panel input[type="button"] {
  background: #0c60cd;
  color: #fff;
  border: 0;
  padding: 5px 10px;
}
body.admin-panel input {
  height: 34px;
  padding: 5px 10px;
}
.paging {
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}
.paging a,
.paging span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  border: 1px solid #0c60cd;
  color: #0c60cd;
  margin: 5px;
  line-height: 38px;
  text-align: center;
  padding: 0 5px;
}
.paging a:hover,
.paging span:hover {
  color: #fff;
  background: #0c60cd;
}
.paging span {
  background: #0c60cd;
  color: #fff;
}
.form-group table tbody tr:first-child {
  display: none;
}
.form-group table tbody tr td {
  padding: 0;
}
.form-group table tbody tr td > div {
  height: 46px !important;
  background: #aebcde !important;
  line-height: 42px !important;
  font-family: "jost", sans-serif !important;
  color: #0c60cd !important;
}
.form-group table tbody tr td input[type="text"] {
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #aebcde;
  padding: 10px 15px;
  height: calc(34px + 10px + 2px);
  /* transition: border 0.2s ease; */
}
.form-group table tbody tr td input[type="text"].form-sm {
  font-size: 0.8571428571428571rem;
  height: calc(21px + 10px + 2px);
  padding: 2px 10px;
}
.form-group table tbody tr td input[type="text"]:focus,
.form-group table tbody tr td input[type="text"]:active {
  box-shadow: none;
  outline: 0;
  border-color: #0c60cd;
}
/*# sourceMappingURL=style.css.map */
